apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-html
data:
  index.html.template: |
    <html>
      <body>
        <h1>Frontend App</h1>
        <p>Backend says:</p>
        <div id="result"></div>
        <script>
          fetch("{{BACKEND_URL}}")
            .then(response => response.text())
            .then(data => document.getElementById("result").innerHTML = data)
            .catch(err => document.getElementById("result").innerHTML = "Error calling backend: " + err);
        </script>
      </body>
    </html>

  start.sh: |
    #!/bin/sh
    echo "Injecting backend URL..."
    sed "s|{{BACKEND_URL}}|$BACKEND_URL|g" /config/index.html.template > /workdir/index.html
    cp /workdir/index.html /usr/share/nginx/html/index.html
    echo "Starting NGINX..."
    nginx -g "daemon off;"